---
import Container from "@components/container.astro";
import FAQList from "@components/faqlist.astro"
import Features from "@components/features.astro";
import Layout from "@layouts/Layout.astro";
const titlePage = "Registration"
---

<Layout title={titlePage}>
    <Container>
        <div>
            <div class="flex items-center justify-center gap-12 w-full">
                <h1 class="text-center text-4xl lg:text-5xl xl:text-6xl font-bold mt-10 mb-16 mb-5">
                    Frequently Asked Questions
                </h1>
            </div>
        </div>
        <FAQList/>
    </Container>
</Layout>