---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Layout from "@layouts/Layout.astro";
const titlePage = "Registration"
---

<Layout title={titlePage}>
    <Container>
        <div>
            <div class="flex items-center justify-center w-full mt-16">
                <div class="max-w-xl text-center">
                    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Registration is open!</h1>
                </div>
            </div>
            <div class="max-w-4xl w-full mx-auto p-6 bg-white shadow-lg rounded-lg">
                <iframe src="https://forms.gle/vCcbwSzdjEjMmFHJ8"
                        class="w-full h-[800px] border-0 rounded-md"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </Container>
</Layout>