<div class="faq-wrapper" id="faq-link">
    <div class="faq-list-container">
        <ul class="faq-list">
            <li>
                When and where is PawHacks 1.0?
                <div>
                    PawHacks 1.0 will be held on the Northeastern Oakland campus (5000 MacArthur Blvd
                    Oakland, CA 94613) from March 15, 2024 to March 17, 2024.
                </div>
            </li>
            <li>
                Is PawHacks 1.0 going to be in-person or virtual?
                <div>
                    PawHacks 1.0 will be in person only on the Oakland campus.
                </div>
            </li>
            <li>
                How long is the event?
                <div>
                    PawHacks 1.0 is a 3 day long hackathon, officially starting on March 15 and ending on March 17 with
                    the extra time being dedicated to prepared speaker events and workshops.
                </div>
            </li>
            <li>
                What kind of prizes and merchandise is available to participants?
                <div>
                    Participants will have the chance to receive a plethora of prizes and merchandise throughout the
                    event! Every hacker will get a PawHacks t-shirt, swag from our partners, and lots of stickers!
                    Additionally, both PawHacks and our sponsors will be giving out tons of prizes to winning teams,
                    which you can learn more about here.
                </div>
            </li>
            <li>
                Will there be food and/or snacks provided?
                <div>
                    Food will be provided for all participants. Snacks will be provided all day round and meals will
                    be catered.
                </div>
            </li>
            <li>
                What is the cost to attend?
                <div>
                    There are no additional fees, sign up fees, or fees of any kind attached to PawHacks. You are
                    welcome to bring money in case of any emergency but the event itself will not cost any money.
                </div>
            </li>
            <li>
                How will teams work?
                <div>
                    The number of members per team ranges from two to four, so if you don’t have a team, don’t worry!
                    Our team will randomly set you up with a group. If you have someone in mind however, you'll be
                    able to choose them to work with you during the application process.
                </div>
            </li>
        </ul>

        <ul class="faq-list">
            <li>
                What if I don’t know how to code?
                <div>
                    PawHacks is open to coders of all experience levels! Whether you’re a beginner just starting out
                    or an expert with years of coding under your belt, this hackathon is for you.
                </div>
            </li>
            <li>
                What if I don’t have a team or idea?
                <div>
                    If you’re having trouble coming up with an idea, attend our workshop and speaker events to gain
                    invaluable insight from people in the industry.
                </div>
            </li>
            <li>
                What will overnight accommodations be like?
                <div>
                    Participants will be provided with designated areas to stay overnight—if they intend to do so.
                    These areas will be well-equipped with outlets, lighting, and Wi-Fi for hacking to continue 24/7.
                    Unfortunately, PawHacks will not be providing beds for people to sleep in.
                </div>
            </li>
            <li>
                What other events are available?
                <div>
                    Participants will get opportunities to get involved in a variety of different events, besides the
                    main hacking event. There will be speakers from well established companies as well as startups
                    that will provide their expert advice and mentorship. Additionally, there will be workshops to
                    learn different skills and social events to give participants a chance to meet industry
                    professionals and other participants.
                </div>
            </li>
            <li>
                Why build a project?
                <div>
                    PawHacks offers a golden opportunity for collaborative project building with peers, not just for
                    the sake of winning a hackathon but as a platform to acquire real-world skills applicable to your
                    future career. Your project becomes a gateway to networking, allowing you to forge valuable
                    connections and share an unforgettable experience with other passionate students. Beyond hacking
                    hours, numerous opportunities exist to meet industry professionals and student teams on campus.
                </div>
            </li>
            <li>
                Who can attend PawHacks?
                <div>
                    PawHacks is open to all college students above the age of 18.
                </div>
            </li>
            <li>
                Will PawHacks have a theme? If so, what is it?
                <div>
                    PawHacks 1.0 will have a theme and it will be announced at the beginning of the hackathon. All
                    teams will be challenged to make a project either based on or solving the theme provided.
                </div>
            </li>
        </ul>
    </div>
</div>

<style>
    .faq-wrapper{
        margin-bottom: 20vmin;
        color: black;
        background-color: white;
    }

    .faq-list-container{
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
    }

    .faq-list {
        flex: 1;
        font-size: large;
        list-style: none;
    }

    .faq-list > li {
        width: fit-content;
        list-style-position: inside;
        overflow-y: hidden;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 25px;
        --list-content: '▸';
    }

    .faq-list > li::before {
        content: var(--list-content);
    }

    .faq-list > li.open::before {
        content: '▾';
    }

    .faq-list > li:hover {
        animation-name: glow-red;
        animation-duration: 1.5s;
    }

    @keyframes glow-red {
        0% {
            color: black;
            text-shadow: 0 0 0;
        }

        20% {
            color: red;
            text-shadow: 0 0 0.15em red;
        }

        100% {
            color: black;
            text-shadow: 0 0 0;
        }
    }

    .faq-list > li > div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out, padding 0.2s ease-out;
        cursor: default;
        color: black;
        text-shadow: 0 0 0;
        font-size: medium;
        font-weight: lighter;
    }

    .faq-list > li.open > div {
        max-height: 500px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

<script>
    // Select all FAQ list items
    const faqItems = document.querySelectorAll('.faq-list > li');

    // Add click event listener to each FAQ item
    faqItems.forEach((item) => {
        item.addEventListener('click', () => {
            // Toggle the 'open' class on the clicked item
            item.classList.toggle('open');
        });
    });
</script>