---

---

{/*Leaders, Abhi Goda and Sara Dassanayake */}
<h2 class="text-6xl lg:text-7xl  text-transparent bg-clip-text bg-gradient-to-r from-black to-blue-500 transition-transform duration-200 font-bold pt-20 mb-6 text-center">Meet The Team</h2>
<h3 class="text-3xl lg:text-5xl text-blue-400 font-bold mb-6 pt-5 text-center">Our Supreme Leaders</h3>
<div class="flex items-center justify-center gap-10 w-ful">
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
</div>

{/*Dev Team, the GOATS*/}
<h3 class="text-3xl lg:text-5xl text-blue-400 font-bold mb-6 pt-5 text-center">Tech Team 😎</h3>
<div class="flex items-center justify-between gap-12 w-full">
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/5 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/5 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/5 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/5 max-w-lg pt-8 rounded-lg" />

</div>

{/*Operations,  Maya Borkar Ashley Zheng Issa Yazawa Gahan Patel*/}
<h3 class="text-3xl lg:text-5xl text-blue-400 font-bold mb-6 pt-5 text-center">Operations</h3>
<div class="flex items-center justify-between gap-12 w-full">
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
</div>

{/*Sponsorship,  Katherine Kim Victor Li Riya Yerram*/}
<h3 class="text-3xl lg:text-5xl text-blue-400 font-bold mb-6 pt-5 text-center">Sponsorship Team</h3>
<div class="flex items-center justify-between gap-12 w-full">
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
</div>

{/*Outreach and Media,  Aastha Arora Shruthi Munusamy Anderson Liew David Njoo*/}
<h3 class="text-3xl lg:text-5xl text-blue-400 font-bold mb-6 pt-5 text-center">Outreach</h3>
<div class="flex items-center justify-between gap-12 w-full">
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
    <img src="/src/assets/pawhacks_big_logo.png" alt="small logo" class="w-1/4 max-w-lg pt-8 rounded-lg" />
</div>